* {box-sizing: border-box;}
@font-face {
    font-family: "Sabo-Filled";
    src: url("{{.URL-SCHEMA}}://{{.EUTHERPE-ADDR}}/fonts/Sabo-Filled.otf") format("opentype");
}
@font-face {
    font-family: "Sabo-Regular";
    src: url("{{.URL-SCHEMA}}://{{.EUTHERPE-ADDR}}/fonts/Sabo-Regular.otf") format("opentype");
}
.html, .body {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
}
.title-banner {
    font-family: "Sabo-Filled";
    font-size: 360%;
    text-shadow: 5px 5px 0 #ddd;
}
.info-banner {
    text-shadow: 5px 5px 0 #ddd;
}
.config {
    display: block;
    position: absolute;
    left: 1%;
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 25%;
    max-height: 71.8%;
    box-shadow: 5px 5px 0 #ddd;
}
.config button {
    font-family: "Sabo-Filled";
    display: block;
    background-color: inherit;
    color: black;
    padding: 10% 10%;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}
.config button:hover {
    font-family: "Sabo-Regular";
    background-color: #ddd;
}
.config button.active {
    text-align: right;
    background-color: rgb(201, 184, 246);
}
.configcontent {
    position: absolute;
    font-family: "Sabo-Filled";
    font-size: 100%;
    float: left;
    left: 26%;
    padding: 0 1%;
    width: 70%;
    max-width: 100%;
    border: none;
    height: 66.4%;
}
.NowPlaying {
    font-family: "Sabo-Regular";
    font-size: 100%;
    text-align: center;
}
.AlbumCover {
    text-align: center;
    margin-top: 1%;
}
img {
    box-shadow: 1px 1px 10px 0px black;
}
.eutherpeBUTTON {
    padding: .5% 3%;
    font-size: 70%;
    font-family: "Sabo-Filled";
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: transparent;
    border: 1px solid;
    border-radius: 50%;
    max-height: 20%;
    box-shadow: 5px 5px 0 #ddd;
}
.eutherpeBUTTON:hover {
    background-color: rgb(201, 184, 246);
}
.eutherpeBUTTON:active {
    border: inset;
    box-shadow: 0 0px white;
    transform: translanteY(4px);
    cursor: grab;
    background-color: orange;
}
.eutherpeRANGE {
    cursor: pointer;
}
ul, #eutherpeUL {
    list-style-type: none;
}
#eutherpeUL {
    margin: 0;
    padding: 0;
}
.caret:hover {
    text-decoration: underline rgb(201, 184, 246) 2px;
}
.caret {
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    down: false;
}
.caret::before {
    content: "\266F";
    color: black;
    display: inline-block;
    margin-right: 6px;
}
.caret-down::before {
    content: "\266D"
}
.nested {
    display: none;
}
.active {
    display: block;
}
.scrollbox {
    background-color: white;
    color: black;
    border: 2px solid #ddd;
    margin: 1%;
    padding: .5%;
    max-height: 60%;
    overflow-y: auto;
}
.tinyscrollbox {
    background-color: white;
    color: black;
    border: 0px solid #ddd;
    margin: 1%;
    padding: .5%;
    max-height: 32%;
    max-width: 100%;
    overflow-y: auto;
}
input[type="text"] {
    border-style: solid;
    border-color: black;
    background-color: #f1f1f1;
    font-family: "Sabo-Regular";
    font-size: 100%;
    outline: none;
}
input[type="number"] {
    border-style: solid;
    border-color: black;
    background-color: #f1f1f1;
    font-family: "Sabo-Regular";
    font-size: 100%;
    outline: none;
    text-align: right;
}
.hugescrollbox {
    background-color: white;
    color: black;
    border: 0px solid black;
    margin: 1%;
    padding: .5%;
    max-height: 50%;
    max-width: 100%;
    overflow-y: auto;
}
hr {
    border: 1px dashed #ddd;
}
@media only screen and (orientation: landscape) and (max-width: 926px) {
    .config {
        width: 20%;
    }
    .configcontent {
        font-size: 90%;
        left: 21%;
        width: 70%;
        height: 63%;
    }
    .title-banner {
        font-size: 170%;
    }
    .scrollbox {
        max-height: 40%;
    }
    .eutherpeBUTTON {
        font-size: 60%;
        max-height: 30%;
    }
}
@media only screen and (orientation: portrait) and (max-width: 926px) {
    .config button {
        font-family: "Sabo-Filled";
        display: block;
        background-color: inherit;
        color: black;
        padding: 30% 15%;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 50%;
    }
    .configcontent {
        font-size: 100%;
    }
    .title-banner {
        font-size: 420%;
    }
    .scrollbox {
        max-height: 35%;
    }
    .eutherpeBUTTON {
        font-size: 60%;
        max-height: 30%;
    }
}
